/*  Variables */
/*remove margins and padding from left and right side of site*/
.row {
  margin-left: 0;
  margin-right: 0; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin: 0; }

body {
  font-family: "Lato", sans-serif;
  font-size: 17px; }

.navbar {
  background-color: #d7e1ed; }

header {
  background-color: #d7e1ed; }
  header .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px; }
    header .title .x-mark-border {
      border: 2px solid black;
      width: 30px;
      height: 30px;
      margin-right: 20px; }
      header .title .x-mark-border .x-mark {
        transform: scale(1.7);
        animation-name: xmark-scale;
        animation-duration: 2s; }
    header .title h1 {
      font-size: 30px; }
  header .photo {
    padding: 0; }
    header .photo figure {
      margin: 0; }
      header .photo figure img {
        width: 100%; }
  header .candidate-info {
    position: relative;
    top: -30px;
    transform: skewY(4deg);
    background-color: #035a9f;
    height: 100px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px; }
    header .candidate-info span {
      border-left: 2px solid white;
      padding-left: 10px; }
  header .candidate-slogan {
    position: relative;
    top: -30px;
    transform: skewY(4deg);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    color: #004f8f;
    text-align: center; }
    header .candidate-slogan h2 {
      font-weight: bold;
      padding: 5px; }

.about-me {
  position: relative;
  top: -30px;
  transform: skewY(4deg);
  min-height: 300px;
  background-color: #035a9f;
  color: #ffffff; }
  .about-me .about-me-content {
    transform: skewY(-4deg);
    text-align: center;
    display: flex;
    justify-content: center; }

.election-program {
  position: relative;
  top: -30px;
  transform: skewY(4deg);
  background-color: #ffffff;
  color: #004f8f; }
  .election-program .election-program-content {
    transform: skewY(-4deg);
    display: flex;
    justify-content: center; }

.contact {
  position: relative;
  top: -30px;
  transform: skewY(4deg);
  position: relative;
  background-color: #035a9f;
  color: #ffffff; }
  .contact a, .contact a:focus, .contact a:visited, .contact a:link {
    color: #ffffff;
    text-decoration: none; }
  .contact .contact-content {
    transform: skewY(-4deg);
    display: flex;
    justify-content: center; }
  .contact .contact-icons .contact-icon {
    display: flex;
    align-items: center; }
    .contact .contact-icons .contact-icon i {
      padding-right: 15px; }

.footer {
  position: relative;
  background-color: #004f8f; }

footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  background-color: #004f8f;
  color: #ffffff;
  text-align: center;
  font-size: 15px; }

.section-title {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold; }

.section-title-blue {
  color: #004f8f;
  border: 1px solid #004f8f;
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold; }

.section-content {
  margin-bottom: 50px; }
  .section-content img {
    border: 2px solid #ffffff; }
  .section-content p {
    margin-bottom: 50px; }

/*Anmations*/
@keyframes xmark-scale {
  from {
    opacity: 0;
    transform: scale(0.1); }
  to {
    opacity: 1;
    transform: scale(1.7); } }

@media (min-width: 768px) {
  header .candidate-info, header .candidate-slogan {
    transform: skewY(0);
    background: none;
    color: #004f8f;
    top: 20px; }
    header .candidate-info span, header .candidate-slogan span {
      border-left: 2px solid #004f8f;
      padding-left: 10px; } }
