/*  Variables */
/*remove margins and padding from left and right side of site*/
.row {
  margin-left: 0;
  margin-right: 0; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin: 0; }

body {
  font-family: "Lato", sans-serif; }

.menu {
  background-color: #d7e1ed; }

header {
  background-color: #d7e1ed; }

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }
  .title .x-mark-border {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    margin-right: 20px; }
    .title .x-mark-border .x-mark {
      transform: scale(1.7); }
