/*  Variables */
$font-regular: 'Lato', sans-serif;
$font-color-primary: #ffffff;
$font-color-secondary: #004f8f;
$background-color-header: #d7e1ed;
$background-color-light-blue: #035a9f;
$background-color-blue:  #004f8f;
$background-color-white: #ffffff;
$section-skew: skewY(5deg);
$h1: 30px;

// mixins
@mixin section-skew {
    // skew section
    position: relative;
    top: -30px;
    transform: $section-skew;
}
@mixin section-content-skew {
    transform: skewY(-5deg);
}

/*remove margins and padding from left and right side of site*/
.row{
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin: 0
}

body{
    font-family: $font-regular;
    font-size: 17px;
}
.navbar{
    background-color: $background-color-header;
}
header{
    background-color: $background-color-header;
    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        .x-mark-border{
            border: 2px solid black;
            width: 30px;
            height: 30px;
            margin-right: 20px;
            .x-mark{
                transform: scale(1.7);
                animation-name: xmark-scale;
                animation-duration: 2s;
            }
        }
        h1{
            font-size: $h1;
        }

    }
    .photo{
        padding: 0;
        figure{
            margin: 0;
        }
    }
    .candidate-info{
        @include section-skew;
        background-color: $background-color-light-blue;
        height: 100px;
        color: $font-color-primary;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;
        span{
            border-left: 2px solid white;
            padding-left: 10px;
        }
    }
    .candidate-slogan{
        @include section-skew;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $background-color-white;
        color: $font-color-secondary;
        text-align: center;
        h2{
            font-weight: bold;
            padding: 5px;
        }
    }
}
.about-me{
    @include section-skew;
    min-height: 300px;
    background-color: $background-color-light-blue;
    color: $font-color-primary;
    .about-me-content{
        @include section-content-skew;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
.election-program{
    @include section-skew;
    background-color: $background-color-white;
    color: $font-color-secondary;
    .election-program-content{
        @include section-content-skew;
        // text-align: center;
        display: flex;
        justify-content: center;
    }

}
.contact{
     @include section-skew;
    background-color: $background-color-light-blue;
    color: $font-color-primary;
    a, a:focus, a:visited, a:link{
    color: $font-color-primary;
    text-decoration: none;
}
    .contact-content{
        @include section-content-skew;
        display: flex;
        justify-content: center;
    }
    .contact-icons{
        .contact-icon{
            display: flex;
            align-items: center;
        i{
            padding-right: 15px;
        }
    }
    }
}
footer{
    position: relative;
    top: -50px;
    padding: 20px;
    background-color: $background-color-blue;
    color: $font-color-primary;
    text-align: center;
    font-size: 15px;
}
.section-title{
    color: $font-color-primary;
    border: 1px solid $font-color-primary;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
.section-title-blue{
    color: $font-color-secondary;
    border: 1px solid $font-color-secondary;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;

}
.section-content{
    margin-bottom: 50px;
    img{
        border: 2px solid $font-color-primary;
    }
    p{
        margin-bottom: 50px;
    }
}

/*Anmations*/
@keyframes xmark-scale {
    from {opacity: 0; transform: scale(0.1)}
    to {opacity: 1; transform: scale(1.7)}
}
